# src/main/helm/charts/nifi/helmfile.yaml.gotmpl

# (1) Definición de opciones globales de Helm
helmDefaults:
  timeout: 2700
  wait: true
  atomic: true
  # Permite a Helm crear automáticamente el namespace si no existe
  createNamespace: true
  # usar el mismo contexto de kubectl que haya configurado en el pipeline
  kubeContext: {{ env "KUBECONTEXT" }}

# (2) Repositorios de charts
{{- /* Repositorio OCI de Stackable para los operadores */ -}}
repositories:
  - name: stackable
    url: oci://oci.stackable.tech/sdp-charts
{{- if not .StateValues.useLocalCharts }}
  - name: genomica
    url: https://harbor.apps.ocpdes.t-systems.es/chartrepo/genomica
{{- end }}

---
# (3) Definición de releases
releases:
  - name: nifi
    namespace: tpi
    {{- if not .StateValues.useLocalCharts }}
    chart: "genomica/nifi"
    {{- else }}
    chart: "."
    {{- end }}

    # Aquí le dices a Helmfile qué archivos de valores pasar
    values:
      - ./values-common.yaml
      {{- if .StateValues.client }}
      - ./clients/{{ .StateValues.client }}/values-{{ .Environment.Name }}.yaml
      {{- end }}

    # Las dependencias de Chart.yaml (operadores) se descargarán automáticamente desde OCI de Stackable

